body {
    margin: 0;
    padding: 0;
    background: url(fondo.png);
    background-size: cover;
    background-position: center;
    font-family: sans-serif;
    position: absolute;
    height: 100%;
    width: 100%;
}
.contenedor{
    height: 100%;
}
.contenido{
    height: 100%;
    width: 100%;
}
.cajaLogin{
    border-radius: 10px;
    padding: 47px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    max-width: 300px;
    top: 28%;
    left: 25%;
    gap: 98px;
}
.titulo{
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 48px;
}
.inputs{
    display: flex;
    flex-direction: column;
    max-width: 250px;
    gap: 15px;
}
.text{
    background: rgba(36, 36, 36, 0.78);
    border-radius: 5px;
    height: 46px;
    box-sizing: border-box;
    text-indent: 52px;
    width: 268px;
}
.password{
    background: rgba(36, 36, 36, 0.78);
    border-radius: 5px;
    height: 46px;
    box-sizing: border-box;
    text-indent: 52px;
    width: 268px;
}
.botones{
    flex-direction: column;
    display: flex;
    background-position-y: center;
    text-align: center;
    align-items: center;
    gap: 82px;
    padding-left: 50px;
}
.btnLogin{
    background: #4AD299;
    box-shadow: 3px 4px 12px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    width: 268px;
    height: 46px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}
.a{
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    color: rgba(251, 251, 251, 0.73);
}